body {
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

h2 {
    margin: 0;
    padding: 1rem;
}

#food-list,
#food-ordered {
    background-color: #cccc;
    max-width: 350px;
    border-radius: .5rem;
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p {
    margin: 0;
}

.list-cont-md {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-cont-md li {
    padding: 1rem;
}

.list-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn-add {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-block-start: .5rem;
    padding-block-end: .5rem;
    cursor: pointer;
}

.total-amount {
    text-align: center;
}

.confirm-btn {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-block-start: .5rem;
    padding-block-end: .5rem;
    cursor: pointer;
}

.btn-div {
    text-align: start;
    margin: 1rem;
}

.outer-modal {
    display: grid;
    place-items: center center;
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: aqua;
    pointer-events: none;
    display: none;
}

.outer-modal.open {
    max-width: 500px;
    max-width: 400px;
    pointer-events: all;
    display: block;
}

.inner-modal {
    background-color: aqua;
    border-radius: .5rem;
    min-width: 300px;
    min-height: 300px;
}